body {
  font-family: "Manrope", sans-serif;
}

a {
  color: #f9ae16;
  font-weight: 500;
  text-decoration: none;
}

hr {
  margin: 10px auto;
}

footer {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.container {
  max-width: 700px;
  margin: 60px auto 0;
}

.weather-container {
  padding: 25px;
  border: 1px solid #e8e5f0;
  border-radius: 5px;
}

.search-button {
  padding: 6px 15px;
}

ul.summary {
  font-size: 46px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  line-height: 1.2;
}

.degrees {
  font-size: 20px;
  position: relative;
  top: -20px;
  right: 8px;
}

.last-updated {
  font-size: 14px;
  padding-top: 10px;
  opacity: 0.7;
}

.inactive {
  color: black;
  cursor: default;
  text-decoration: none;
}

#weather-icon {
  height: 132px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#weather {
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.details {
  font-size: 14px;
  margin: 15px 0;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.daily-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.daily-forecast {
  text-align: center;
}

.daily-forecast-date,
.daily-forecast-temp {
  font-size: 14px;
}

.daily-forecast-date {
  opacity: 0.5;
}

.daily-forecast-temp-min {
  opacity: 0.5;
}
