body {
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 700px;
  margin: 60px auto 0;
}

.weather-container {
  padding: 25px;
  border: 1px solid #e8e5f0;
  border-radius: 5px;
}

.search-button {
  padding: 6px 15px;
}

ul {
  font-size: 46px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  line-height: 1.2;
}

.degrees {
  font-size: 20px;
  position: relative;
  top: -20px;
  right: 8px;
}

a {
  text-decoration: none;
  color: #f9ae16;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.last-updated {
  font-size: 14px;
  padding-top: 10px;
}

img {
  height: 132px;
  position: relative;
  right: 15px;
}

#weather {
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  bottom: 25px;
}

hr {
  margin: 10px auto;
}

.weather-details {
  font-size: 14px;
  margin: 15px 0;
}

.daily-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.daily-forecast {
  text-align: center;
}

.forecast-icons {
  font-size: 36px;
}

.forecast-days {
  font-size: 16px;
}

.forecast-prec,
.forecast-temp {
  font-size: 12px;
}

footer {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}
